<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>UserLogin</title>
</head>
<body>
    <nav class="bg-black h-10 flex items-center justify-between">
        <h1 class="text-slate-50 text-center">LoginPage</h1>
        <a class="text-slate-50 px-20" href="signup.html">SignUp</a>
      </nav>
    <div  class="bg-gradient-to-br from-fuchsia-900 to-blue-900 h-screen flex justify-center">
      
        <form class="bg-white h-80 py-5 w-96 my-14">
            <h1 class="text-black font-bold text-2xl text-center">Login Form</h1>
            <div class="space-x-8 py-5 px-4">
                    <label  id="emailid" name="email">E-mail</label>
                    <input class="w-4/5 border-b border-violet-500 focus:outline-violet-700"  type="text" id="emailid" name="email">
                </div>
                  <div class="space-x-2 py-3 px-4">
                    <label  id="password" name="password">Password</label>
                    <input class="w-4/5 border-b border-violet-500 focus:outline-violet-700"  type="password" id="password" name="password">
                    </div>
                    <a class="text-fuchsia-800 px-5 text-sm text-left inline-block" href="recoverPassword.html" >Forgot Password?</a>
                
                <div class="text-center mx-auto py-4 w-36 rounded-xl">
                    <button class=" text-white font-semibold w-36 h-10 rounded-lg bg-fuchsia-800  hover:bg-fuchsia-950" onClick="loginuser(event)">Login</button>
                    <!-- <button class="bg-slate-500 text-red-100 w-36 rounded-xl hover:bg-blue-600 mt-2" onClick="forgotpassword(event)">ForgotPassword</button> -->
                </div>
                <div class="bg-red-700 font-bold text-zinc-950" id ="Block">
                    </div>
            </form>
            </div>   
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
                async function loginuser(event){
                    event.preventDefault()
                    const login = {
                        email: event.target.form.email.value,
                        password: event.target.form.password.value
                    }
                    const res = await axios.post('http://localhost:3000/login',login).then((response)=>{
                    var value = document.getElementById("Block");
                    console.log("%%$%$%44",response);

                    if(response.status==200)
                    console.log("******",response)
                    localStorage.setItem('token',response.data.token);
                        
            
                         window.location.href= "expensepage";
                      
                    })

                    . catch((err)=>{
                        var val = document.getElementById("Block");
                       val.innerHTML= err.response.data.message;
                        document.body.innerHTML += `<div style="colour:red;">${err}</div>`;
                    })
                    
        
                }

                // function forgotpassword(event){
                //     event.preventDefault()


                //     window.location.href="recoverPassword";
                // }


            </script>
</body>
</html>