<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav class="bg-black h-10 flex items-center justify-between">
        <h1 class="text-slate-50 text-center">Password Recovery Page</h1>
      </nav>
    <div class="bg-gradient-to-br from-orange-600 to-pink-900 h-screen flex justify-center">

        <form class="bg-white h-60 py-5 w-96 my-4 flex flex-col  items-center">
            <div class="py-5 px-4">
              <label class="font-bold text-lg text-slate-950 text-center" id="emailid" name="email"> E-mail</label><br>
              <input class="w-64 h-10 mt-2 rounded-lg border border-black" type="text" id="emailid" name="email" placeholder="Email">
              <h1 class="text-orange-800 text-left">Enter registered mail-id</h1>
            </div>
            <div class="flex justify-center">
              <button class=" text-white font-semibold w-36 h-10 rounded-lg bg-orange-800  hover:bg-pink-950" onClick="SubmitDetails(event)">Submit</button>
            </div>
            </div>
          </form>
    </div>
      <script>
        async  function SubmitDetails(event){
            event.preventDefault();
            const mailId = {
                        email: event.target.form.email.value,
                    }
                    const result = await axios.post('http://52.66.121.103:3000/password/forgotpassword',mailId).then((response)=>{

                        console.log("success");
        });
    }
      </script>
       
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>