<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ExpenseTracker</title>
   
</head>
<body>
        <nav class="bg-black h-10 flex items-center justify-between">
            <h1 class="text-slate-50 text-center">New User Registration</h1>
            <a class="text-slate-50 px-20" href="loginpage.html">Existing User login</a>
          </nav>
    
          <div class="w-2/3 bg-gradient-to-r from-fuchsia-400 to-fuchsia-900 h-screen flex">
            <!-- <div class="w-1/2 bg-slate-500 fixed left-0"></div> -->
            <div class="w-1/3 bg-white fixed right-0 h-screen">
            <h1 class="font-bold text-4xl text-center py-4"> Sign Up</h1> 
            <form  class ="my-10" action="/" method="POST" >  
                <h3 id="warningMessage" style="color: red; display: none;">All fields are necessary to fill.</h3>
                <div class="text-center mx-auto px-6 py-5 space-x-2">
                    <label  class="block text-left m-2"  for="username">UserName</label>
                    <input class="w-full border-b border-violet-500 focus:outline-none focus:border-violet-700" type="text" placeholder="UserName" id="username" name="username" required >
                </div>
                <div class="text-center mx-auto px-6 py-5 space-x-6">
                    <label  class="block text-left  m-2"  for="emailid">E-mail</label>
                    <input class="w-full  border-b border-violet-500 focus:outline-none focus:border-violet-700" type="text" placeholder="E-mail" id="emailid" name="email" required >
                </div>
                  <div class="text-center mx-auto px-6 py-5 space-x-2">
                    <label  class="block text-left m-2"  for="password">Password</label>
                    <input class="w-full  border-b border-violet-500 focus:outline-none focus:border-violet-700" type="password" placeholder="Password" id="password" name="password" required >
                </div>
                <div class=" text-center mx-auto m-6">
                    <button class=" text-white font-semibold w-36 h-10 rounded-lg bg-fuchsia-800  hover:bg-fuchsia-950" onClick="signup(event)">SignUp</button>
                </div>
            </form>
        </div>
       
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function signup(event){
            try{
            event.preventDefault()
            const signupDetails = {
                username: event.target.form.username.value,
                email: event.target.form.email.value,
                password: event.target.form.password.value
            }

            if (event.target.form.username.value===''||event.target.form.email.value==='' || event.target.form.password.value===''){
                document.getElementById('warningMessage').style.display = 'block';
                setTimeout(() => {
                    document.getElementById('warningMessage').style.display = 'none';
                }, 500);
                return;
            }
            const response = await axios.post('http://localhost:3000/signup',signupDetails)
            if(response.status=== 200){
            window.location.href = "loginpage.html"
            }
            else{
                throw new Error('failed to signup')
            }
        }
            catch(err){
                document.body.innerHTML += `<div style="colour:red;">${err}</div>`;
            }

        }
       







    </script>
</body>
</html>